@model IEnumerable<ERP.Models.Proveedor>

<h2>Proveedores</h2>

<a asp-action="Crear" class="btn btn-success">Nuevo Proveedor</a>

<table class="table">

<thead>
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Teléfono</th>
<th>Email</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

@foreach (var p in Model)
{
<tr>

<td>@p.IdProveedor</td>
<td>@p.Nombre</td>
<td>@p.Telefono</td>
<td>@p.Email</td>



<td>

<a asp-action="Editar" asp-route-id="@p.IdProveedor"
class="btn btn-warning">
Editar
</a>

<a asp-action="Eliminar" asp-route-id="@p.IdProveedor" class="btn btn-danger">
Eliminar
</a>

</td>

</tr>
}

</tbody>
</table>